* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 60px;
    padding: 20px;
    text-align: center;
}

.game-grid {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.level-difficulty {
    margin: 20px;
    font-size: 40px;
}

.container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    width: 500px;
    height: auto;
}

.button {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    padding: 3px;
    background-color: crimson;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}

.button:active {
    background-color: #a13747;
}

.box-one, .box-two, .box-three {
    height: 50px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-one {
    width: 50px;
    background-color: #3ee099;  
}

.box-two {
    width: calc(500px / 9 - 2px);
    background-color: #f7b03b;
}

.box-three { 
    width: calc(455px / 7 - 2px);
    background-color: #267aa8;
}

.light-blue {
    background-color: lightskyblue;
}

.red {
    background-color: #a13747;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 30px;
    color: #fff;
    padding: 3px;
    margin: 20px;
    background-color: #1d7468;
    border: 3px solid #3becb7;
    border-radius: 20px;
    cursor: pointer;
}